@font-face {
    font-family: 'Inter';
    src:
        url(/public/fonts/Inter.woff) format('woff'),
        url(/public/fonts/Inter.woff2) format('woff2');
}

@font-face {
    font-family: 'icon';
    src:
        url(/public/fonts/icons/icomoon.woff) format('woff'),
        url(/public/fonts/icons/icomoon.woff2) format('woff2');
}
